.main-title{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: aqua;
    background-color: black;
    width: 300px;
    height: auto;
    border: 3px;
    border-color: aqua;
}

.index-list{
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   list-style-position: inside;
}

.description{
    text-align: center;
    padding: 8px 16px;
    border-radius: 12px;
    border-color: black;
    width: 400px;
    height: auto;
    background-color: grey;
}

.ingredients{
    height: auto;
    width: 400px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: dimgray;
    border: 16px;
    border-radius: 12px;
}

.instructions{
    width: 400px;
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: dimgray;
    border: 16px;
    border-radius: 12px;
}
